@font-face {
    font-family: 'Crayon';
    src: url('./DK_Cool_Crayon.ttf');
}

body {
    background-image: url("./backgound.jpg");
}

h1 {
    font-family: 'Crayon';
    color: #FFF;
    font-weight: lighter;
    font-size: 90px;
    text-align: center;
    margin: 40px;
}

h2 {
    font-family: 'Crayon';
    color: #FFF;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-family: 'Crayon';
    color: #FFF;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

#singleLetter {
    font-size: 80px;
    margin-top: 80px;

}

#wordToGuess {
    font-size: 80px;
    margin-top: 80px;
}

a {
    text-decoration: none;
}

.insertLetter {
    display: inline;
}

.counter {
    display: inline
}
